<app-popup
    (onClose)="onClose.emit()"
    [maxWidth]="isEditBoard ? '330px' : '300px'"
>
    <div class="content">
        <h3>{{ isEditBoard ? 'Edit board' : 'Create new board' }}</h3>
        
        <form [formGroup]="form" (ngSubmit)="submit()">
            <label class="label">
                <input
                    type="text"
                    class="input"
                    formControlName="boardName"
                    [ngClass]="{
                        active: this.form.get('boardName')?.value?.length > 0,
                        error: this.form.get('boardName')?.errors && this.form.get('boardName')?.touched
                    }"
                >
                <span class="label-text">Board name</span>
                <span
                    *ngIf="this.form.get('boardName')?.errors && this.form.get('boardName')?.touched"
                    class="error-text"
                >
                    Enter a valid name
                </span>
            </label>
            
            <div class="colors-wrap">
                <span class="text">Board color</span>
                
                <div class="colors">
                    <button
                        class="color blue"
                        [class.active]="color === 'blue'"
                        (click)="color = 'blue'"
                        type="button"
                    >
                        <span class="material-symbols-outlined selected">done</span>
                    </button>
                    
                    <button
                        class="color orange"
                        [class.active]="color === 'orange'"
                        (click)="color = 'orange'"
                        type="button"
                    >
                        <span class="material-symbols-outlined selected">done</span>
                    </button>
                    
                    <button
                        class="color green"
                        [class.active]="color === 'green'"
                        (click)="color = 'green'"
                        type="button"
                    >
                        <span class="material-symbols-outlined selected">done</span>
                    </button>
                </div>
            </div>
            
            <div class="buttons">
                <app-button type="summit" [loading]="loading" [disabled]="form.invalid">
                    {{ isEditBoard ? 'Save' : 'Create' }}
                </app-button>
                
                <app-button
                    [color]="'red'"
                    *ngIf="isEditBoard"
                    (onClick)="showDeleteConfirm = true"
                >
                    Delete
                </app-button>
            </div>
        </form>
    </div>
    
    <div @popup class="popup-wrap" *ngIf="showDeleteConfirm">
        <app-confirm
            (onCancel)="showDeleteConfirm = false"
            [text]="'Are you sure want to delete this board?'"
            buttonText="Delete"
            (onConfirm)="deleteBoard()"
            [loading]="deleteBoardLoading"
        >
        </app-confirm>
    </div>
</app-popup>

