.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #0079bf;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.logo {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    position: relative;
}

.wrap {
    display: flex;
    margin-top: 50px;
}

.nav {
    width: 270px;
    margin-top: 30px;
    padding-right: 20px;
    position: fixed;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-item.border-bottom {
    border-bottom: 1px solid #e1e1e2;
    padding-bottom: 5px;
}

.menu .menu-item:last-child {
    margin-top: 10px;
}

.logout {
    width: 100%;
    border-radius: 5px;
    font-size: 17px;
    padding: 11px 16px;
    text-align: left;
    border: none;
    cursor: pointer;
    background: none;
    color: rgba(23, 43, 77, 0.8);
    font-weight: 600;
}

.logout:hover {
    background: rgb(255, 110, 52, .16);
}

.menu-link {
    display: block;
    text-decoration: none;
    color: rgba(23, 43, 77, 0.8);
    border-radius: 5px;
    font-size: 17px;
    padding: 11px 16px;
    font-weight: 500;
}

.menu-link.active, .menu-link.active:hover {
    background: #e4f0f6;
    color: #0079bf;
    font-weight: 700;
}

.menu-link:hover {
    background: #e7e9ed;
}

.main {
    flex: 1;
    margin: 0 0 30px 270px;
}

.menu-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    display: none;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    transition: all .15s;
    cursor: pointer;
}
.menu-icon:hover {
    color: rgba(255, 255, 255, .7)
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, .3);
    opacity: 0;
    transition: opacity .3s ease-in;
}

.overlay.active {
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
}

@media (max-width: 992px) {
    .nav {
        transform: translateX(-110%);
        background: #fff;
        z-index: 2;
        top: 0;
        bottom: 0;
        margin-top: 0;
        left: 0;
        overflow-y: auto;
        padding: 20px;
        transition: transform .3s ease-in;
    }

    .nav.active {
        transform: translateX(0);
    }

    .main {
        margin-left: 0;
        padding: 0 3%;
    }

    .menu-icon {
        display: flex;
    }
}


@media (max-width: 768px) {
    .main {
        padding: 0;
    }
}

