button {
    display: block;
    margin: 0 auto;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background: #0079bf;
    padding: 10px 25px;
    transition: all .15s ease-in;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

button.small {
    font-size: 14px;
    padding: 6px 12px;
}

button.red {
    background: #cd5139;
}

button.gray {
    background: #9a9a9a;
}

button.loading {
    color: transparent;
}

button:hover, button:disabled {
    background: rgba(0, 121, 191, 0.8);
}

button:disabled {
    cursor: not-allowed;
}

button.red:hover, button.red:disabled {
    background: rgba(205, 81, 57, 0.8);
}

button.gray:hover, button.gray:disabled {
    background: rgba(154, 154, 154, 0.8);
}

@keyframes loading-animation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loading-block div {
    position: absolute;
    width: 45px;
    height: 45px;
    border: 10px solid rgba(255, 255, 255, 0.8);
    border-top-color: transparent;
    border-radius: 50%;
}

.loading-block div {
    animation: loading-animation 1s linear infinite;
    top: 50px;
    left: 50px
}

.loading-spinner {
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-block {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.4);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.loading-block div {
    box-sizing: content-box;
}
