.confirm {
    padding: 25px 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.text {
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}
