.wrap {
    padding: 30px 20px;
}

h3 {
    color: #172b4d;
    text-align: center;
    font-size: 21px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}