<div class="list-wrapper">
    <div
        cdkDropList
        [cdkDropListData]="list.cards"
        (cdkDropListDropped)="drop.emit({ event: $event, listId: list.id })"
        class="list"
        [class.pb40]="isCurrentUserAdmin"
        [class.pb110]="showAddCardForm"
        (mousedown)="onListMouseDown($event)"
    >
        <div class="list-header">
            <div
                class="title"
                [style.margin-right]="isCurrentUserAdmin ? '0px' : '15px'"
            >{{ list.name }}</div>
            
            <app-list-menu
                *ngIf="showListMenu"
                (showDeleteListConfirm)="onShowDeleteListConfirm()"
                (showEditListPopup)="onShowEditListPopup()"
            ></app-list-menu>
            
            <button
                class="menu" (click)="showListMenu = !showListMenu" #listMenu
                *ngIf="isCurrentUserAdmin"
            >
                <span class="material-symbols-outlined icon">more_horiz</span>
            </button>
        </div>
        
        <button
            *ngFor="let item of list.cards" cdkDrag
            class="card"
            (cdkDragDropped)="cardDropped.emit({ listId: list.id, cardId: item.id })"
            (cdkDragStarted)="dragStart.emit()"
            (cdkDragEnded)="dragEnd.emit()"
            (click)="onCardClick(item)"
            [class.pb30]="item.hasExecutor || item.commentsCount > 0"
        >
            {{ item.name }}
            
            <span class="comments" *ngIf="item.commentsCount > 0">
                <span class="material-symbols-outlined icon">
                    chat
                </span>
                {{ item.commentsCount }}
            </span>
    
            <span class="material-symbols-outlined user" *ngIf="item.hasExecutor">
                person
            </span>
        </button>
        
        <div *ngIf="isCurrentUserAdmin" class="add-card">
            <form *ngIf="showAddCardForm; else addButton" (click)="onAddCardFormClick($event)">
                <textarea
                    #textarea
                    placeholder="Card name"
                    [(ngModel)]="newCardName"
                    [ngModelOptions]="{standalone: true}"
                    (keydown.enter)="onTextAreaEnterDown($event)"
                >
                </textarea>
                
                <div class="buttons">
                    <app-button
                        size="medium"
                        [loading]="addCardLoading"
                        (onClick)="onAddCard()"
                        type="summit"
                    >
                        Add card
                    </app-button>
                    
                    <span
                        (click)="hideForm()"
                        class="material-symbols-outlined btn-close"
                    >close</span>
                </div>
            </form>
            
            <ng-template #addButton>
                <button
                    class="add-card-button"
                    #addCardButton
                >
                    <div class="add">
                        <span class="material-symbols-outlined icon">add</span>
                        <span class="text">Add card</span>
                    </div>
                </button>
            </ng-template>
        </div>
    </div>
</div>

<div *ngIf="showDeleteListConfirm" class="popup-wrap" @popup>
    <app-confirm
        [loading]="deleteListLoading"
        (onCancel)="showDeleteListConfirm = false"
        (onConfirm)="onListDelete()"
        [buttonText]="'Delete'"
        [text]="getDeleteListConfirmText()"
    ></app-confirm>
</div>

<div *ngIf="showEditListPopup" class="popup-wrap" @popup>
    <app-edit-list-popup
        (onClose)="showEditListPopup = false"
        [listName]="list.name"
        [listId]="list.id"
        [allLists]="allLists"
    ></app-edit-list-popup>
</div>

<div *ngIf="showCardPopup" class="popup-wrap" @popup>
    <app-card-popup
        (onClose)="onCloseCard()"
        [currentCard]="openedCard"
        [currentList]="list"
    ></app-card-popup>
</div>


