<app-popup (onClose)="onClose.emit()" maxWidth="400px">
    <div class="wrap">
        <h3>Change password</h3>
        
        <form [formGroup]="form" (ngSubmit)="submit()" [style.gap]="error ? '20px' : '30px'">
            <div class="inputs">
                <div class="input-wrap">
                    <label class="label">
                        <input
                            type="password"
                            class="input"
                            formControlName="currentPassword"
                            [ngClass]="{
                        active: this.form.get('currentPassword')?.value?.length > 0,
                        error: this.form.get('currentPassword')?.errors && this.form.get('currentPassword')?.touched
                    }"
                        >
                        <span class="label-text">Current password</span>
                        <span
                            *ngIf="this.form.get('currentPassword')?.errors && this.form.get('currentPassword')?.touched"
                            class="error-text"
                        >Enter a valid password</span>
                    </label>
                </div>
                
                <div class="input-wrap">
                    <label class="label">
                        <input
                            type="password"
                            class="input"
                            formControlName="newPassword"
                            [ngClass]="{
                                active: this.form.get('newPassword')?.value?.length > 0,
                                error: this.form.get('newPassword')?.errors && this.form.get('newPassword')?.touched
                            }"
                        >
                        <span class="label-text">New password</span>
                        <span
                            *ngIf="this.form.get('newPassword')?.errors && this.form.get('newPassword')?.touched"
                            class="error-text"
                        >Enter a valid password</span>
                    </label>
                </div>
            </div>
            
            <div class="backend-error" *ngIf="error">
                {{ error }}
            </div>
            
            <app-button
                [loading]="loading"
                [disabled]="form.invalid"
                [type]="'summit'"
            >
                Save
            </app-button>
        </form>
    </div>
</app-popup>
