.loader-wrap {
    margin-bottom: 30px;
}

.wrap {
    padding: 30px 25px;
    user-select: text;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    display: flex;
    flex-direction: column;
    color: #252525;
    font-size: 16px;
    position: relative;
}

input, textarea {
    margin-top: 3px;
    outline: none;
    border-radius: 3px;
    padding: 6px 11px;
    font-size: 16px;
    color: #1f1f1f;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

input:focus, textarea:focus {
    padding: 5px 10px;
    border: 2px solid #0079bf;
}

input.error {
    border: 2px solid #b04632;
    padding: 5px 10px;
}

textarea {
    height: 60px;
    resize: none;
    width: 100%;
}

.card-date-title {
    color: #252525;
    font-size: 16px;
}

.description-warp {
    margin-top: 20px;
}

.card-name, .card-description {
    margin-top: 3px;
    border-radius: 3px;
    padding: 6px 11px;
    font-size: 16px;
    color: #1f1f1f;
    background: #eee;
}

.card-description {
    min-height: 60px;
}

.select-and-button-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.select {
    border-radius: 4px 4px 0 0;
    background: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.6);
    padding: 6px 12px;
    border: none;
    position: relative;
    width: 200px;
    text-align: left;
    cursor: pointer;
    transition: all .15s ease-in;

    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    .select-title {
        color: rgba(0, 0, 0, 0.45);
        font-size: 12px;
    }

    .selected-value {
        margin-top: 5px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.75);
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .options {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        background: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0 0 4px 4px;
        max-height: 105px;
        overflow-y: auto;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .option {
        border: none;
        background: rgba(0, 0, 0, 0.05);
        text-align: left;
        color: rgba(0, 0, 0, 0.75);
        padding: 8px 12px;
        font-size: 16px;
        cursor: pointer;
    }

    .option:last-child {
        border-radius:  0 0 4px 4px;
    }

    .option:hover, .option.selected:hover {
        background: rgba(0, 0, 0, 0.13)
    }

    .option.selected {
        background: rgba(0, 0, 0, 0.09)
    }
}

.select:hover {
    background: rgba(0, 0, 0, 0.18);
}

.comments-warp {
    margin-top: 25px;
}

.comments {
    h3 {
        color: rgba(0, 0, 0, 0.7);
        font-size: 18px;
    }

    margin-bottom: 10px;
}

.comment {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;

    .header {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 2px;

        .author {
            color: rgba(0, 0, 0, 0.5);
            font-size: 15px;
        }

        .date-and-delete {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .date {
            color: rgba(0, 0, 0, 0.4);
            font-size: 13px;
        }

        .delete {
            border: none;
            background: transparent;
            font-size: 19px;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.8);
            transition: all 0.15s ease-in;
        }

        .delete:hover {
            color: rgba(0, 0, 0, 1);
            transform: scale(1.2);
        }
    }

    .text {
        font-size: 16px;
        margin-top: 5px;
        color: rgba(0, 0, 0, 0.8);
    }
}

.btn-wrap {
    margin-top: 5px;
    display: flex;
}

@media (max-width: 400px) {
    .select {
        width: 170px;
    }
}
